#
# Silead Fingerprint driver configuration
#
	  
config FPS_SILEAD
	tristate "Silead platformm Fingerprint driver support"
	select silead_fp
	help
	  This supports Silead platform Fingerprint drivers.
